*{
    margin-left: 50px;
}
.btn1{
    background-color: yellow;
    color: black;
    font-size: large;
}
.btn2{
    background-color: red;
    color: black;
    font-size: large;
}
.btn3{
    background-color:violet;
    color: black;
    font-size: large;
}
