<!-- <p>cricketer-info works!</p> -->
<button type="button" name="button" (click)='getInfo1()' class="btn1">CSK</button>
<ul class="list-group">
    <li *ngFor = "let info of info1" class="list-group-info">{{info}}</li>
</ul>

<button type="button" name="button" (click)='getInfo2()'class="btn2">RCB</button>
<ul class="list-group">
    <li *ngFor = "let info of info2" class="list-group-info" >{{info}}</li>
</ul>

<button type="button" name="button" (click)='getInfo3()'class="btn3">KKR</button>
<ul class="list-group">
    <li *ngFor = "let info of info3" class="list-group-info">{{info}}</li>
</ul>

